<form [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <span><i class="material-icons">filter_list</i></span>  
    <div>
      <mat-form-field>
        <input matInput placeholder="Choose a date" [satDatepicker]="picker" formControlName="date" 
        (dateChange)="changeRange($event)">
        <sat-datepicker #picker [rangeMode]="true" panelClass="range-datepicker"
          [calendarFooterComponent]="rangesFooter" [selectFirstDateOnClose]="true" >
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </mat-form-field>
    </div>
  </div>
</form>
